*{
    margin: 0;
    padding: 0;
}

@media(max-width: 768px){
    body{
        font-size: 14px;
    }
}
@media(max-width: 480px){
    body{
        font-size: 12px;
    }
}
@media(max-width:400px){
    #container-1{
        font-size: 12px;
        text-align: center;
        
    }
    
}



#AA{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    color:green;
    font-size: xx-large;
    text-align: center;
    

}
.fa-star{
    color: green;

}
.fa-location-dot{
    color: brown;
        
}
.fa-phone{
    color: green;
}
.fa-envelope{
    color: blue;
}
.fa-square-whatsapp{
    color: green;
}



